svg {
  width: 100%;
  max-width: 100%;
}

.d_button {
  background-color: #0e446c;
  color: white;
  cursor: pointer;
  border-style: solid;
  border-color: #11334c;
  border-width: 2px, 0px, 2px, 0px;
  font-size: 20px;
  outline: none;
  height: 62px;
  width: 100%;
}

.quote_container {
  background-color: #11334c;
  color: #FFFFFF;
  height: 15%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.dimensions_footer {
  margin: 0px;
}

#body_column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#description_text {
  margin: 25px;
  text-align: justify;
  font-size: 1.5vw;
}

#dimensions_content {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  flex: 1 1 auto;
}

#dimension_image {
  height: 45%;
  max-height: 45%;
  background-image: url("../images/assimilationism.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

#dimensions_panel {
  background-color: #11334c;
  width: 20%;
  overflow: auto;
  height: 100%;
  max-height: 100%;
}

#dimensions_description {
  width: 80%;
  height: 100%;
  max-height: 100%;
}

#quote_text {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  font-size: 1.6vw;
  width: 80%;
}
