.d-button {
  background-color: #0e446c;
  color: white;
  cursor: pointer;
  border-style: solid;
  border-color: #11334c;
  border-width: 2px, 0px, 2px, 0px;
  font-size: 20px;
  outline: none;
  height: 62px;
  width: 100%;
}

.quote-container {
  background-color: #11334c;
  color: #FFFFFF;
  align-items: center;
  display: flex;
  justify-content: center;
}

.dimensions-footer {
  margin: 0px;
}

.dimensions-logo {
  height: 65px;
}

#description-text {
  margin: 25px;
  text-align: justify;
  font-size: 1.5vw;
}

#dimension-image {
  height: 45%;
  max-height: 45%;
  background-image: url("../images/assimilationism.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

#dimensions-panel {
  background-color: #11334c;
}

#quote-text {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  font-size: 1.6vw;
  width: 80%;
}

@media only screen and (min-width: 800px) {
  .quote-container {
    height: 15%;
  }

  #body-column {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  #dimensions-content {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    flex: 1 1 auto;
  }

  #dimensions-description {
    width: 80%;
    height: 100%;
    max-height: 100%;
  }

  #dimensions-panel {
    background-color: #11334c;
    width: 20%;
    overflow: auto;
    height: 100%;
    max-height: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .quote-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .dimensions-logo {
    height: 45px;
  }

  #quote-text {
    font-size: 14px;
    text-align: justify;
  }

  #description-text {
    font-size: 14px;
  }
}
