@import "main.css";

header {
  nav {
    ul {
      a {
        color: white;
      }

      #home {
        font-weight: bolder;
      }
    }
  }
}

.hero-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 101vh;
  z-index: -1;
  overflow: hidden;

  background: url("../assets/banner.png");
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 20%;
}

.hero {
  width: 100%;
  color: white;
  text-align: center;
  height: 85vh;

  h1 {
    font-size: 2.5rem;
    margin-top: 1em;
    line-height: 3.3rem;
    font-weight: bolder;
  }

  .subhead {
    font-size: .9rem;
    font-weight: normal;
    margin-top: -1.2em;
  }

  .head-text {
    font-size: .7rem;
    font-weight: lighter;
    margin-top: .1em;
  }

  a {
    display: none;
  }

  button.start-test {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    background-color: #1559AD;
    border: solid #0D305C;
    color: white;
    padding: 1em 3em;
    border-radius: 2em;
    margin-top: 1em;
  }
}

.more-info {
  display: flex;
  justify-content: center;

  .center {
    width: 100%;

    .feature {
      margin-top: 1.5em;
      margin-bottom: .5em;
      display: flex;
      justify-content: space-evenly;

      .content {
        width: 100%;

        .title {
          font-size: 1.0em;
          font-weight: bold;
        }

        .description {
          font-size: 0.75em;
          font-weight: lighter;
        }
      }

      .number-box {
        display: none;
      }

      .footer {
        text-align: center;
        margin-bottom: 5%;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 760px) and (orientation: portrait) {
  .hero {
    h1 {
      margin-top: .2em;
    }
  }

  @media (min-width: 360px) {
    .hero {
      h1 {
        font-size: 3rem;
        margin-top: .25em;
        line-height: 3.75rem;
      }

      .subhead {
        font-size: 1.05rem;
        margin-top: -1.2em;
      }

      .head-text {
        font-size: .8rem;
        margin-top: .2em;
      }

      button.start-test {
        font-size: .8rem;
      }
    }

    .more-info {
      .center {
        .feature {
          .content {
            .title {
              font-size: 1.1em;
            }

            .description {
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }

  @media (min-width: 400px) {
    .hero {
      h1 {
        font-size: 3.3rem;
        margin-top: .3em;
        line-height: 4.1rem;
      }

      .subhead {
        font-size: 1.2rem;
        margin-top: -1em;
      }

      .head-text {
        font-size: .91rem;
        margin-top: -.1em;
      }

      button.start-test {
        font-size: .92rem;
        padding: 1em 3em;
        border-radius: 3em;
      }
    }

    .more-info {
      .center {
        .feature {
          .content {
            .title {
              font-size: 1.2em;
            }

            .description {
              font-size: 1em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-height: 760px) and (orientation: landscape) {
  .hero-img {
    background-position-y: 45%;
  }

  .more-info {
    margin-top: -2.5em;

    .center {
      .feature {
        margin-bottom: 1%;
      }
    }
  }

  @media (max-width: 600px) {
    .hero {
      h1 {
        font-size: 2rem;
        margin-top: .5em;
      }

      .head-text {
        font-size: .5rem;
      }
    }

    @media (min-height: 500px) {
      .more-info {
        margin-top: .5em;
      }
    }
  }
}

@media only screen and (min-width: 760px) {
  .hero-img {
    left: auto;
    right: 0;
    width: 50%;
  }

  .hero {
    width: 45%;
    color: black;
    text-align: left;
    height: 77.5vh;

    h1 {
      margin-top: 15vh;
    }

    .subhead {
      font-size: 1.2em;
    }

    .head-text {
      font-size: .9em;
    }

    a {
      display: inline;
    }

    button.start-test {
      display: block;
      background-color: #1559AD;
      border: none;
      margin: 1.5em -.5em;

      &:hover {
        background-color: #0D305C;
      }
    }
  }

  .more-info {
    margin-top: -1em;

    .center {
      width: 75%;

      .feature {
        margin-bottom: 2.5%;
        .content {
          width: 50%;
        }

        .number-box {
          display: unset;

          .numbering {
            vertical-align: center;
            font-size: 5em;
            font-weight: bolder;
            text-align: center;
          }
        }

        .footer {
          width: 50%;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .hero {
      height: 82.5vh;

      h1 {
        font-size: 2rem;
        margin-top: 7.5vh;
      }

      .subhead {
        font-size: 1rem;
      }

      .head-text {
        font-size: .8rem;
      }
    }
  }

  @media (orientation: portrait) {
    .hero-img {
      height: 50vh;
    }

    .hero {
      height: 50vh;

      h1 {
        margin-top: 2.5vh;
      }
    }

    @media (max-width: 800px) {
      .hero {
        height: 45vh;

        h1 {
          font-size: 2.2rem;
        }

        .subhead {
          font-size: .9rem;
        }

        .head-text {
          font-size: .7rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .hero {
    height: 85vh;

    h1 {
      font-size: 4rem;
      margin-top: 2em;
      line-height: 6rem;
    }

    .subhead {
      font-size: 2rem;
      margin-top: -1.2em;
    }

    .head-text {
      font-size: 1.25rem;
      margin-top: .1em;
    }

    button.start-test {
      font-size: 1rem;
    }
  }

  .more-info {
    margin-top: -2em;

    .center {
      .feature {
        margin-bottom: 10%;

        .content {
          .title {
            font-size: 1.5em;
          }

          .description {
            font-size: 1.2em;
          }
        }

        .number-box {
          .numbering {
            font-size: 7.5em;
          }
        }
      }
    }
  }
}