@import "main.css";

header {
  nav {
    ul {
      a {
        color: black;
      }
    }
  }
}

.hero {
  width: 100%;
  height: 100vh;
  text-align: center;

  div {
    padding-top: 7.5em;

    h1 {
      font-size: 2.2rem;
      line-height: .75rem;
      color: white;
    }
  }

  button.start-test {
    margin-top: .25em;
    background-color: #0D305C;
    border: solid #1559AD;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 15em;
    height: 4em;
    border-radius: 2em;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  max-width: 100%;
  overflow: hidden;

  img {
    width: 150%;
    margin-top: 10%;
    margin-left: -25%;
  }
}

.content-box {
  display: flex;
  flex-flow: column;
  margin-top: -5em;
  margin-bottom: 2em;

  p {
    display: inline-block;
    width: 70%;
    margin-left: 15%;
    border-radius: 3em;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: bold;
    color: white;
    background-color: #0D305C;
    margin-bottom: .25em;
  }

  .results-content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    flex: 1 1 auto;
  }

  .results-panel {
    background: url("../assets/worldmap.png");
    background-size: cover;
    border-color: #0D305C;
    border-style: solid;
    border-width: 1px;
    font-size: 1.5vh;
    margin-top: 1.5vh;
  }

  #inner-header {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 0;
    text-align: center;

    img {
      margin-top: 1.5vh;
      height: 10vh;
    }
  }

  #results-panel-content {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 100%;

    .row {
      align-items: center;
      display: flex;
      flex-direction: row;
      width: 100%;

      .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .text-row {
          margin-top: -1em;
          font-size: 2vh;

          .aligned {
            position: relative;
            top: 1.5vh;
          }

          .left-aligned {
            text-align: left;
            margin-left: 3.5em;
            width: 100%;
          }

          .right-aligned {
            width: 100%;
            text-align: right;
            margin-right: 3.5em;
          }
        }
      }

      .img-left {
        position: relative;
        padding-right: .4em;
        left: 1em;
        height: 5vh;
      }

      .img-right {
        position: relative;
        padding-left: .4em;
        right: 1em;
        height: 5vh;
      }

      .rail {
        color: white;
        height: 2.5vh;
        line-height: 2.5vh;
        border: .1em solid white;

        .rail-text {
          margin-right: .75em;
          margin-left: .75em;
        }
      }

      .neutral {
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        height: 2.5vh;
        color: #000;
        background-color: #eeeeee;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 760px) and (orientation: portrait) {
  .content-box {
    #results-panel-content {
      .row {
        .column {
          .text-row {
            margin-top: -1em;
            font-size: 1.5vh;

            .left-aligned {
              margin-left: 4em;
            }

            .right-aligned {
              margin-right: 4em;
            }
          }
        }
      }
    }
  }

  @media (min-width: 360px) {
    .hero {
      margin-top: -.8em;

      div {
        padding-top: 9.5em;

        h1 {
          font-size: 2.55rem;
          line-height: 1rem;
        }
      }

      button.start-test {
        font-size: .8rem;
      }
    }

    .content-box {
      margin-bottom: 2.2em;

      p {
        font-size: 1.4rem;
        line-height: 2.3rem;
      }
    }
  }

  @media (min-width: 400px) {
    .hero {
      margin-top: -1.2em;

      div {
        padding-top: 11em;

        h1 {
          font-size: 2.8rem;
          line-height: 1.15rem;
        }
      }

      button.start-test {
        font-size: .875rem;
      }
    }

    .content-box {
      margin-bottom: 2.4em;

      p {
        font-size: 1.55rem;
        line-height: 2.5rem;
      }
    }
  }

  @media (min-width: 500px) {
    .container {
      img {
        width: 110%;
        margin-top: 10%;
        margin-left: -5%;
      }
    }
  }

  @media (min-width: 600px) {
    .container {
      img {
        width: 100%;
        margin-top: 5%;
        margin-left: 0;
      }
    }
  }
}

@media only screen and (max-height: 760px) and (orientation: landscape) {
  header {
    nav {
      ul {
        a {
          color: white;
        }
      }
    }
  }

  .hero {
    margin-top: -5em;

    div {
      padding-top: 5.5em;

      h1 {
        font-size: 2rem;
      }
    }
  }

  .container {
    img {
      width: 150%;
      margin-top: -75%;
      margin-left: -20%;
    }
  }

  .content-box {
    margin-top: .5em;
    margin-bottom: -.4em;

    p {
      font-size: 1rem;
      line-height: 1.2rem;
    }

    .results-panel {
      font-size: 2vh;
    }
  }

  @media (min-width: 600px) {
    .hero {
      div {
        padding-top: 6em;

        h1 {
          font-size: 2.25rem;
        }
      }
    }

    .content-box {
      margin-bottom: -.7em;

      p {
        font-size: .9rem;
        line-height: 1rem;
      }
    }
  }

  @media (min-width: 700px) {
    .hero {
      div {
        padding-top: 7em;

        h1 {
          font-size: 2.5rem;
        }
      }
    }

    .content-box {
      margin-bottom: 0;

      p {
        font-size: 1rem;
        line-height: 1.3rem;
      }
    }
  }
}

@media only screen and (min-width: 760px) {
  header {
    nav {
      ul {
        a {
          color: black;
        }
      }
    }
  }

  .hero {
    div {
      padding-top: 14em;

      h1 {
        font-size: 2.5rem;
      }
    }
  }

  .container {
    img {
      width: 75%;
      margin-top: 0;
      margin-left: 12.5%;
    }
  }

  .content-box {
    margin-top: -.5em;
    margin-bottom: 1.75em;

    p {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    .results-panel {
      font-size: 2vh;
    }
  }

  @media (min-width: 1000px) {
    .hero {
      div {
        padding-top: 13em;
      }
    }

    .container {
      img {
        width: 70%;
        margin-top: -2%;
        margin-left: 15%;
      }
    }

    @media (min-height: 700px) {
      .hero {
        div {
          padding-top: 11em;
        }
      }

      .container {
        img {
          width: 50%;
          margin-top: 7.5%;
          margin-left: 25%;
        }
      }
    }
  }

  @media (min-width: 1100px) {
    .container {
      img {
        width: 50%;
        margin-top: 2%;
        margin-left: 25%;
      }
    }

    @media (min-height: 800px) {
      .hero {
        div {
          padding-top: 12em;
        }
      }

      .container {
        img {
          width: 50%;
          margin-top: 7.5%;
          margin-left: 25%;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    .hero {
      div {
        padding-top: 13em;

        h1 {
          font-size: 2.75rem;
        }
      }

      button.start-test {
        font-size: .9rem;
      }
    }

    .container {
      img {
        width: 45%;
        margin-top: 2%;
        margin-left: 27.5%;
      }
    }

    .content-box {
      margin-top: 0;
      margin-bottom: 1.5em;

      p {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
  }

  @media (min-width: 1300px) {
    .hero {
      div {
        padding-top: 11em;
      }

      button.start-test {
        font-size: 1rem;
      }
    }

    .container {
      img {
        margin-top: 2%;
      }
    }

    .content-box {
      margin-top: 0;
      margin-bottom: 2.5em;

      p {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }

    @media (min-height: 800px) {
      .hero {
        div {
          padding-top: 12em;

          h1 {
            font-size: 3.5rem;
          }
        }
      }

      .container {
        img {
          margin-top: 2.5%;
        }
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .hero {
    div {
      padding-top: 15em;

      h1 {
        font-size: 4rem;
      }
    }

    button.start-test {
      font-size: 1rem;
    }
  }

  .content-box {
    margin-top: -2em;
    margin-bottom: 3em;

    p {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }

  @media (min-width: 1800px) {
    .container {
      img {
        margin-top: 2%;
      }
    }
  }
}













