.img-left {
  position: relative;
  padding-right: 5px;
  left: 15px;
}

.img-right {
  position: relative;
  padding-left: 5px;
  right: 15px;
}

.results-title {
  background-color: #0e446c;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.results-content {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.results-panel {
  background-image: url("../images/resultsMapBG.png");
  background-size: cover;
  border-color: #11334c;
  border-style: solid;
  border-width: 2px;
  font-size: 20px;
  margin-top: 30px;
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.text-row {
  margin-top: -8px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.rail {
  color: #fff;
  height: 22px;
  line-height: 22px;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.rail-text {
  margin-right: 8px;
  margin-left: 8px;
}

.dimension-text {
  position: relative;
  justify-content: space-between;
  margin-left: 160px;
  top: 15px;
  right: 160px;
}

.aligned {
  position: relative;
  top: 15px;
  width: 50%;
}

.left-aligned {
  text-align: left;
  margin-left: 85px;
}

.right-aligned {
  text-align: right;
  margin-right: 85px;
}

.neutral {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  height: 20px;
  color: #000;
  text-align: center;
}

#results-panel-content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 85%;
}
