body {
    background-color: #e3e3e3;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
  color: #FFFFFF;
  font-size: 300%;
  font-weight: bold;
}

h2 {
  font-size: 120%;
  font-weight: bold;
}

p {
  text-align: justify;
}

hr {
  opacity: 0.4;
}

footer {
  background-color: #ABABAB;
  color: #FFFFFF;
  margin-top: 40px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  width: 100%;
}

.banner {
  background-size: cover;
  background-repeat:no-repeat;
  height: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.button {
    border: none;
    cursor: pointer;
    outline: none;
}

.back-button {
  left: 5px;
  position: absolute;
  background-color: transparent;
}

.start-test-button {
  background-color: #11334c;
  border-radius: 9pt;
  padding: 5px 25px;
}

.question-button {
  border-radius: 8pt;
  color: #FFFFFF;
  font-size: 150%;
  margin: 6px;
  height: 50px;
  width: 70%;
}

.pv_header {
  background-color: #11334c;
  color: #e3e3e3;
  font-family: "Times New Roman", serif;
  padding: 15px;
}

.question-header {
  font-size: 250%;
}

.page-header {
  font-size: 300%;
}

.question-content {
  text-align: center;
}

#inner-header {
  align-items: center;
  display: flex;
  justify-content: center;
}

#start-test {
  background-image: url("../images/HomepageBanner.png");
}

#future-plans {
  background-image: url("../images/FuturePlansBanner.png");
}

#text-content {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#question-font {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 180%;
  text-align: center;
}

#sticky-footer {
  position: fixed;
  bottom: 0px;
}

#d-agree {
    background-color: #027508;
}

#agree {
    background-color: #00d10b;
}

#neutral {
    background-color: #ABABAB;
}

#disagree {
    background-color: #e00b00;
}

#d-disagree {
    background-color: #8c0700;
}

#back {
  background-color: #11334c;
}

@media only screen and (max-width: 800px) {
  .question-button {
    font-size: 250%;
  }

  .banner {
    height: 30%;
  }

  #question-font {
    margin-top: 200px;
    margin-bottom: 200px;
    font-size: 350%;
  }

  #text-content {
    width: 90%;
  }
}
