#content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--fs-body) * 3);

  margin-top: 10svh;

  .content-item {
    display: flex;
    flex-direction: column;
    gap: calc(var(--fs-body) * 0.5);

    h4 {
      font-weight: var(--fw-medium);
    }

    p {
      font-size: var(--fs-body);
    }
  }
}

@media screen and (min-width: 50em){
  #content {
    margin-top: 5svh;
  }
}