@import "/stylesheets/components/buttons.css";
@import "/stylesheets/components/footer.css";
@import "/stylesheets/components/menu.css";
@import "/stylesheets/components/nav.css";

@import "/stylesheets/plans/banner.css";
@import "/stylesheets/plans/content.css";

body {
  margin: 8px 0 0;
}

.grid-container {
  top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

#nav,
#menu,
#banner,
#content {
  grid-column: 1 / span 5;
}

#nav {
  order: 0;
  height: 10vh;
  min-height: 50px;
  max-height: 75px;
}

#menu {
  overflow: clip;
  order: 1;

  transition: height 300ms ease-in-out;
}

#banner {
  order: 2;
  height: 80vh;
  min-height: 200px;
  max-height: 700px;

  margin: 2.5vh 0 7.5vh 0;

  background: url("/assets/plans/mobile/banner.svg") center no-repeat;
  background-size: contain;
}

#content {
  order: 3;
  height: auto;

  margin-bottom: 10vh;
}

footer {
  height: 80vh;
  min-height: 300px;
  max-height: 600px;
}

@media screen and (min-width: 50em) {
  #nav {
    grid-column: 1 / span 1;
    height: 10vh;
  }

  #menu {
    grid-column: 2 / span 4;
    height: 10vh;
    min-height: 50px;
    max-height: 75px;

    transition: none;
  }

  #banner {
    grid-column: 1 / span 5;
    height: 70vh;
    margin: 5vh 0 15vh 0;

    background-image: url("/assets/plans/desktop/banner.svg");
  }

  footer {
    height: auto;
  }
}