<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Politivector</title>

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/404/404.css">

    <script src="scripts/_variant_font.js" defer></script>
</head>
<body>
    <object id="visual" data="/assets/404/404.svg" type="image/svg+xml"></object>
    <div id="content">
        <h1>404</h1>
        <h3><%= __("404-something-wrong") %></h3>
        <p><%= __("404-not-the-page") %></p>
        <button class="button secondary no-arrow" onclick="window.location.href = '/'"><%= __("404-return-home") %></button>
    </div>
</body>
</html>