<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
  <head>
    <title>Politivector Dimensions</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/dimensions_stylesheet.css">
    <script src="../js/redirect.js"></script>
    <script src="../data/dimensions.js"></script>
    <script src="../js/dimensions_handler.js"></script>
  </head>
  
  <body onload="dimensionsPageInit()">
      <div id="body-column">
        <div class="pv_header page-header">
          <button class="button back-button">
            <img class="dimensions-logo" src="../images/back.png" alt="Back Button" onclick="redirect('../index.html')">
          </button>
          <div id="inner-header">
            <img class="dimensions-logo" src="../images/Logo.png" alt="Politivector Logo">
            Politivector
          </div>
          <div></div>
        </div>
    
        <div id="dimensions-content">
          <!-- Left panel: Dimensions -->
          <div id="dimensions-panel">
            <button class="d-button" id="dropdown-button" onclick="dropdownOnClick()">
              <img src="../images/menuicon.png" alt="Dropdown Menu" height="35px">
            </button>
            <div id="dimension-buttons"></div>
          </div>
    
          <!-- Right panel: Descriptions -->
          <div id="dimensions-description">
            <div id="dimension-image"></div>
            <div class="quote-container">
              <div id="quote-text">
                “You are not in the universe, you are the universe, an intrinsic part of it. Ultimately you are not a person, but a focal point where the universe is becoming conscious of itself.” - Eckhart Tolle
              </div>
            </div>
            <div id="description-text">
            </div>
          </div>
        </div>
    
        <footer class="dimensions-footer">
          Politivector 2021
        </footer>
      </div>
  </body>
</html>