<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
  <head>
		<title>Politivector Dimensions</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/dimensions_stylesheet.css">
    <script src="../js/redirect.js"></script>
    <script src="../data/dimensions.js"></script>
    <script src="../js/dimensions_handler.js"></script>
  </head>
  
  <body onload="dimensionsPageInit()">
      <div id="body_column">
        <div class="pv_header page-header">
          <button class="button back-button">
            <img src="../images/back.png" alt="Back Button" height="80px" onclick="redirect('../index.html')">
          </button>
          <div id="inner-header">
            <img src="../images/Logo.png" alt="Politivector Logo" height="90px">
            Politivector
          </div>
          <div></div>
        </div>
    
        <div id="dimensions_content">
          <!-- Left panel: Dimensions -->
          <div id="dimensions_panel">
          </div>
    
          <!-- Right panel: Descriptions -->
          <div id="dimensions_description">
            <div id="dimension_image"></div>
            <div class="quote_container">
              <div id="quote_text">
                “You are not in the universe, you are the universe, an intrinsic part of it. Ultimately you are not a person, but a focal point where the universe is becoming conscious of itself.” - Eckhart Tolle
              </div>
            </div>
            <div id="description_text">
              Higher Capitalism scores point to an understanding that free market mimicking natural competition is inherently beneficial to society. Those who agree with Capitalism are tend to support economic inequality as an incentive for classes to strive for luxury, furthering society.
            </div>
          </div>
        </div>
    
        <footer class="dimensions_footer">
          Politivector 2021
        </footer>
      </div>
  </body>
</html>