<html>
	<head>
    <title>Future Plans</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/style.css">
		<script src="../js/redirect.js"></script>
	</head>

  <body>
		<div class="pv_header page-header">
      <button class="button back-button">
        <img src="../images/back.png" alt="Back Button" height="80px" onclick="redirect('../index.html')">
      </button>
      <div id="inner-header">
        <img src="../images/Logo.png" alt="Politivector Logo" height="90px">
        Politivector
      </div>
      <div></div>
    </div>

    <div id="future-plans" class="banner">
      <h1>Future Plans</h1>
    </div>
		
    <div id="text-content">
      <h2><i>Politivector</i> is an ever-developing project. We have many plans regarding the future of <i>Politivector</i> to make it more than just a test.</h2>

      <h2>Questions</h2>
      <p>
        Currently, the questions in the test are of our mildly informed making. These questions were formulated using the most basic topics of discussion in politics and political philosophy. Our intention, after <i>Politivector</i> proves itself to be a valuable project, is to rework the questions to make the evaluation algorithm more accurate and informational.
      </p>
      <p>
        The ultimate goal regarding the veracity of the questions available in <i>Politivector</i> is to prepare a set of educated questions with experts and professors willing to participate in this project.
      </p>
      <hr>
  
      <h2>Data</h2>
      <p>
        Right now, <i>Politivector</i> obtains absolutely no data from its users whatsoever. While data collection and analysis for a small-scale project such as <i>Politivector</i> is a distant goal, we wish to be able to compare test takers’ results —anonymous results, of course— and present a comprehensive image regarding the distribution of ideologies across the world.
      </p>
      <p>
        One thought-through feature is to add a country, and maybe city, selector. This location information provided would allow us to display ideological maps of our anonymous test takers’ countries. The information portrayed by such distribution and concentration maps could be especially useful in demographic, social, and political studies.
      </p>
      <p>
        Another possibility is to apply various data science methods to the data provided to us by our test takers. One specific method is “clustering”. Clustering would allow us to group together data points, seeing if they agree on a common center.
      </p>
      <p>
        This analysis could present many new perspectives regarding the status of political philosophy in the modern world, such as how fragmented certain ideologies are, which political parties best satiate their peoples’ needs, and where a newcomer into politics could align themselves as a starting point.
      </p>
      <p>
        Data collection and analysis is probably the most intricate of our long-term goals, which is why it is the enhancement we wish to implement last.
      </p>
      <hr/>
  
      <h2>Results</h2>
      <p>
        Currently, we are using a simple percentage bar format to display test results. There are much more imaginative ways of visualizing information, some of which we may choose to add into <i>Politivector</i>. 
      </p>
      <p>
        A conventional format is the political compass, which is a 2D plane containing Authoritarian/Liberal and Economic Left/Right axes. This form of visualization cannot be applied to all 12 dimensions of <i>Politivector</i> (humans are not good at comprehending 12D), but affiliated dimensions could be “plotted” against one another.
      </p>
      <p>
        We will further discuss what visuals could be used to display information output by <i>Politivector</i>, and include ones we see informational and attractive.
      </p>
      <hr/>
  
      <h2>Philosophers’ Round</h2>
      <p>
        The <i>Politivector</i> team sees politics as much more than a simple war of labels. We believe politics to be a physical manifestation of greater philosophical discussions regarding ideals, optimization, ethics, and countless more concepts.
      </p>
      <p>
        We have the intention to either expand the current test or make an additional one to include questions about one’s philosophical stance rather than a practical one. From that test, we want to direct test takers to various philosophical works partially reflecting their beliefs, consequently driving people to self-improve.
      </p>
      <hr/>

      <h2>Much more!</h2>
      <p>
        We will establish channels of communication to receive feedback from our test takers, and improve <i>Politivector</i> in ways we could not imagine.
      </p>
    </div>

    <footer>
      Politivector 2021
    </footer>
	</body>
</html>