<html>
    <head>
        <title>Hello</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>

    <body>
		<h1>PolitiTest</h1>
		<div class="button-div" >
            <button class="button" id="d-agree">Kesinlikle katılıyorum</button>
        </div>
        <div class="button-div" >
            <button class="button" id="agree">Katılıyorum</button>
        </div>
        <div class="button-div" >
            <button class="button" id="neutral">Nötrüm / Bilmiyorum</button>
        </div>
        <div class="button-div" >
            <button class="button" id="disagree">Katılmıyorum</button>
        </div>
        <div class="button-div" >
            <button class="button" id="d-disagree">Kesinlikle katılmıyorum</button>
        </div>
    </body>
</html>