<html>
    <head>
        <title>Politivector Test</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>

    <body>
      <div id="homepage-header" class="pv_header question-header">
        <div id="inner-header">
          <img src="../images/Logo.png" alt="Politivector Logo" height="55px">
          Politivector
        </div>
      </div>

      <div id="text-content">
        <div id="question-font">
          Place holder question Place holder question Place holder question Place holder question Place holder question
        </div>

        <div class="question-content">
          <div>
            <button class="button question-button" id="d-agree">Absolutely Agree</button>
          </div>
          <div>
            <button class="button question-button" id="agree">Partially Agree</button>
          </div>
          <div>
            <button class="button question-button" id="neutral">Neutral</button>
          </div>
          <div>
            <button class="button question-button"  id="disagree">Partially Disagree</button>
          </div>
          <div>
              <button class="button question-button" id="d-disagree">Absolutely Disagree</button>
          </div>
          <div>
            <button class="button question-button" id="back">Back</button>
          </div>
        </div>
      </div>
      <footer>
        Politivector 2021
      </footer>
    </body>
</html>