<html>
    <head>
        <title>Politivector Test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../data/questions.js"></script>
        <script src="../js/question_handler.js"></script>
    </head>

    <body onload="questionPageInit();">
      <div class="pv_header question-header">
        <div id="inner-header">
          <span id="question-number"></span>
        </div>
      </div>

      <div id="text-content">
        <div id="question-font">
          <!-- Script will fill this place with question text -->
        </div>

        <div class="question-content">
          <div>
            <button class="button question-button" id="d-agree" onclick="questionAnswered(0);">Absolutely Agree</button>
          </div>
          <div>
            <button class="button question-button" id="agree" onclick="questionAnswered(1);">Partially Agree</button>
          </div>
          <div>
            <button class="button question-button" id="neutral" onclick="questionAnswered(2);">Neutral</button>
          </div>
          <div>
            <button class="button question-button"  id="disagree" onclick="questionAnswered(3);">Partially Disagree</button>
          </div>
          <div>
              <button class="button question-button" id="d-disagree" onclick="questionAnswered(4);">Absolutely Disagree</button>
          </div>
          <div>
            <button class="button question-button" id="back" onclick="previousQuestion()">Back</button>
          </div>
        </div>
      </div>

      <footer id="sticky-footer">
        Politivector 2021
      </footer>
    </body>
</html>