<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Politivector</title>

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/results/results.css">

    <script src="scripts/_menu.js" defer></script>
    <script src="scripts/_language.js" defer></script>
    <script src="scripts/_variant_font.js" defer></script>
</head>
<body>
    <div class="grid-container">
        <%- include("partials/nav_menu_partial.ejs", {path: "/results"}) %>
        <div id="content">
            <h1 class="semi-bold"><%= __("results") %></h1>
            <div id="panel">
                <% let [scoresMap, renderOrder] = resultsHandler.generateScoresMap(resultsQuery); %>
                <% renderOrder.forEach(element => { %>
                    <% let percentagesArr =
                            resultsHandler.calculateScorePercentages(scoresMap[element[0]], scoresMap[element[1]]); %>
                    <%- include("partials/dimension_partial.ejs", {
                    leftDimension: dimensions[element[0]],
                    rightDimension: dimensions[element[1]],
                    leftPercent: percentagesArr[0],
                    neutralPercent: percentagesArr[1],
                    rightPercent: percentagesArr[2]
                    }) %>
                <% }); %>
            </div>
        </div>
    </div>
    <%- include("partials/footer_partial.ejs") %>
</body>
</html>