@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("/fonts/Poppins/Poppins-Regular.woff") format("woff"),
  url("/fonts/Poppins/Poppins-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("/fonts/Poppins/Poppins-Medium.woff") format("woff"),
  url("/fonts/Poppins/Poppins-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 800;
  src: url("/fonts/Poppins/Poppins-SemiBold.woff") format("woff"),
  url("/fonts/Poppins/Poppins-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "MuseoModerno";
  font-weight: 400;
  src: url("/fonts/MuseoModerno/MuseoModerno-Regular.woff2") format("woff2"),
       url("/fonts/MuseoModerno/MuseoModerno-Regular.woff") format("woff");
}

@font-face {
  font-family: "MuseoModerno";
  font-weight: 600;
  src: url("/fonts/MuseoModerno/MuseoModerno-Medium.woff2") format("woff2"),
       url("/fonts/MuseoModerno/MuseoModerno-Medium.woff") format("woff");
}

@font-face {
  font-family: "MuseoModerno";
  font-weight: 800;
  src: url("/fonts/MuseoModerno/MuseoModerno-SemiBold.woff2") format("woff2"),
       url("/fonts/MuseoModerno/MuseoModerno-SemiBold.woff") format("woff");
}

:root {
  /* Font rules */
  --font-family: 'Poppins', sans-serif;
  font-size: 62.5%;

  --fw-regular: 400;
  --fw-medium: 600;
  --fw-semibold: 800;

  color: var(--clr-text-primary);
  font-family: var(--font-family);

  --fs-nav: 1.0rem;
  --fs-body: 1.2rem;
  --fs-button: 1.2rem;
  --fs-quaternary: 1.4rem;
  --fs-tertiary: 1.6rem;
  --fs-secondary: 1.2rem;
  --fs-primary: 2.1rem;
  --fs-404: 9.0rem;

  @media screen and (min-width: 370px) {
    --fs-nav: 1.2rem;
    --fs-body: 1.35rem;
    --fs-button: 1.35rem;
    --fs-quaternary: 1.6rem;
    --fs-tertiary: 1.8rem;
    --fs-secondary: 1.4rem;
    --fs-primary: 2.5rem;
    --fs-404: 9.0rem;
  }

  @media screen and (min-width: 400px) {
    --fs-nav: 1.2rem;
    --fs-body: 1.5rem;
    --fs-button: 1.5rem;
    --fs-quaternary: 1.8rem;
    --fs-tertiary: 2.1rem;
    --fs-secondary: 1.6rem;
    --fs-primary: 2.75rem;
    --fs-404: 9.0rem;
  }

  @media screen and (min-width: 750px) {
    --fs-nav: 1.2rem;
    --fs-body: 1.2rem;
    --fs-button: 1.4rem;
    --fs-quaternary: 1.6rem;
    --fs-tertiary: 1.8rem;
    --fs-secondary: 1.6rem;
    --fs-primary: 3.2rem;
    --fs-404: 9.0rem;
  }
}

h1,
h3,
h4 {
  font-family: "MuseoModerno", sans-serif;
}

h1 {
  font-size: var(--fs-primary);
  line-height: 100%;
}

h2 {
  font-size: var(--fs-secondary);
}

h3 {
  font-size: var(--fs-tertiary);
}

h4 {
  font-size: var(--fs-quaternary);
}

.semi-bold {
  font-weight: var(--fw-semibold);
}