header {
  height: 100%;
  min-height: 50px;
  max-height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  #home-icon-container {
    display: inline-block;
    width: min-content;
    height: 80%;

    #home-icon {
      display: block;
      //width: 100%;
      height: 100%;
      pointer-events: none;
      max-width: none;
    }

    pointer-events: auto;
    cursor: pointer;
  }

  #menu-icon {
    cursor: pointer;
    height: 80%;
    max-width: 75px;

    .line {
      transform-origin: center;
    }
  }
}

.close {
  .top {
    transform: translateY(25%);
    rotate: 45deg;
  }

  .middle {
    opacity: 0;
  }

  .bottom {
    transform: translateY(-25%);
    rotate: -45deg;
  }
}

@media screen and (min-width: 50em){
  header {
    #home-icon {
      height: 75%;
    }

    #menu-icon {
      display: none;
    }
  }
}