#goals {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .paragraph-item {
    margin-top: var(--fs-body);
    display: flex;
    flex-direction: column;
    gap: calc(var(--fs-body) / 2);

    font-size: var(--fs-body);
  }
}