#hero,
#visual-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  pointer-events: none;

  .mobile {
    height: 100%;
  }

  .desktop {
    display: none;
  }
}

#hero {
  .desktop {
    width: 100%;
    max-height: 100%;
  }
}

#visual-info {
  .desktop {
    width: 80%;
    max-height: 100%;
  }
}

#visual-goals {
  .desktop {
    width: 80%;
    height: 100%;
    margin-left: auto;
    padding-bottom: 15%;
  }
}

@media screen and (min-width: 50em){
  #hero,
  #visual-info,
  #visual-goals {
    .mobile {
      display: none;
    }

    .desktop {
      display: block;
    }
  }

  #visual-goals {
    display: flex;
    flex-direction: column;
    justify-content: center;

    pointer-events: none;
  }
}